
<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Claim update</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>
<div class="modal-body">
  <form>
    <div class="mb-3">
      <h5 class="card-title">New Claim</h5>
      <hr>
      <div class="mb-3">
        <label class="form-label">Subject:</label>
        <input class="form-control" id="subject" >
      </div>
      <div class="mb-3">
        <label class="form-label">Message</label>
        <textarea  class="form-control" rows="12" cols="50" id="message"></textarea>
      </div>
      <hr>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="editClaim()">Save</button>
</div>
