<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">View Claims</a>
  <form class="form-inline">
    <div class="row">
      <div class="col-4">
        <div class="dropdown">
          <select class="form-select" aria-label="Default select example">
            <option selected>Filters</option>
            <option value="1">Id-Claim</option>
            <option value="2">Route</option>
            <option value="3">Status</option>
          </select>
        </div>
      </div>
      <div class="col-4">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      </div>
      <div class="col-4">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"  id="search" >Search</button>
      </div>
    </div>
  </form>
</nav>
