<html>
<app-navbar-admin></app-navbar-admin>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<body>

<h1>Welcome Administrator.</h1>
<p> Here you can find the links corresponding to the list of active and inactive claims, as well as a
  reporting page.</p>
<div id="Parentdiv">
  <div id="divChild">
    <h2> List of claims</h2>
    <input type="submit" value="Enter" routerLink="/list">
  </div>

  <div id="divChild">
    <h2> Reports</h2>
    <input type="submit" value="Enter" routerLink="/report">
  </div>
</div>
</body>

</html>
