<app-navbar></app-navbar>
<div class="container">
  <div style="margin-top:20px">
    <app-carousel></app-carousel>
  </div>
  <div class="row d-flex align-items-center">
    <div class="col-lg-4">
      <h1>Help Desk</h1>
      <p>In this portal, we can help you with your claims, complaints, suggestions and queries related to
        our educational services.</p>
      <button type="button" class="btn landing-button" routerLink="/user-login">Read more</button>
    </div>
    <div class="col-lg-8">
      <img src="assets/drawkit-grape/drawkit-grape-pack-illustration-2.svg" width="100%" style="padding:15%"
           alt="Vectorized image">
    </div>
  </div>
  <div class="row d-flex align-items-center">
    <div class="col-lg-6">
      <img src="assets/drawkit-grape/drawkit-grape-pack-illustration-4.svg" width="100%" style="padding:20%"
           alt="Vectorized image">
    </div>
    <div class="col-lg-4">
      <h1>Complaints solution</h1>
      <p>We are here to help you and deliver a timely solution to your claims. Open a new ticket to share with us
        your complaint and we will assign you an administrator so that he can give you a satisfactory answer.</p>
      <button type="button" class="btn landing-button" routerLink="/user-login">Submit a claim</button>
    </div>
  </div>
</div>
