<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" routerLink="">
    <img id="logo-umayor" src="../../../assets/drawkit-grape/LOGO.png" height="50px" />
  </a>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/user-home"><span class="material-icons" style="margin-right:0px !important;">home</span> Home</a>
      <li class="nav-item">
        <a routerLink="rendezvous" class="nav-link landing">Rendez Vous List</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link landing">Add Rendez Vous</a>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Logout <span class="material-icons">logout</span></a>
      </li>
    </ul>
  </div>
</nav>
